body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  overflow-x: hidden;
}

/* INTRO */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, #111827, #000);
}

.intro button {
  padding: 12px 25px;
  border: none;
  background: #00ffcc;
  border-radius: 25px;
  cursor: pointer;
}

/* MAIN */
.main {
  display: none;
  text-align: center;
  padding: 25px;
  animation: fadeIn 1.5s ease;
}

.title {
  color: #00ffcc;
}

.subtitle {
  opacity: 0.8;
}

/* STORY GRID */
.story-title {
  margin-top: 20px;
  color: #00ffcc;
  letter-spacing: 2px;
}

.story-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 15px;
  padding: 10px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border: 1px solid #00ffcc;
  box-shadow: 0 0 15px rgba(0,255,204,0.3);
}

.card.final {
  grid-column: span 2;
  background: rgba(0,255,204,0.1);
  color: #00ffcc;
}

/* MEMORY BOX */
.memory-box {
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  min-height: 100px;
  border-left: 3px solid #00ffcc;
  transition: 0.4s ease;
}

/* PHOTO */
.photo-card img {
  width: 220px;
  border-radius: 15px;
  margin-top: 20px;
  border: 2px solid #00ffcc;
}

/* END SCREEN */
.end-screen {
  display: none;
  height: 100vh;
  background: radial-gradient(circle, #111827, #000);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.end-screen h1 {
  color: #00ffcc;
  animation: glow 2s infinite alternate;
}

/* ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes glow {
  from { text-shadow: 0 0 10px #00ffcc; }
  to { text-shadow: 0 0 25px #00ffcc; }
}
